body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
    background-color: #050505;
}

h1 {
    background: linear-gradient(to right, #ff007b, #7300ff);
    background-clip: text;
    color: transparent;
}

canvas {
    border: 1px solid whitesmoke;
}
